<body>
  <h1>Image Gallery</h1>

  <form ng-submit="galleryCtrl.addImage()">

    <input  class="name" type="text" placeholder="Name" ng-model="galleryCtrl.newImage.name">
    <input  class="url" type="text" placeholder="Image URL" ng-model="galleryCtrl.newImage.image">
    <input class="button" type="submit" value="Submit" ng-click="galleryCtrl.addImage">
  </form>

  <ul>

    <li ng-repeat="item in galleryCtrl.list">
      <img ng-src="{{ item.image }}">
      <p>{{ item.name }}</p>
    </li>

  </ul>

</body>
